.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    width: 70vw;
}

.players-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}