.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
    width: 70vw;
    max-width: 700px;
}

.players-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    text-align: center;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px #373D3F  solid;
    border-radius: 10px;
    cursor: pointer;
}

.back {
    background-color: rgba(44, 55, 87, 0.849);
    color: rgb(236, 236, 236);
}